@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #8fcfe9;
  --background-start-color: #f7a3b6;
  --background-end-color: #09090b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #8fcfe9;
    --background-start-color: #09090b;
    --background-end-color: #18181b;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-color)
    )
    var(--background-start-color);
}

.paragraph-heading {
  @apply text-2xl font-bold font-serif text-royal-blue-600;
  }

.card {
  @apply border border-gray-700 rounded-md bg-gray-800 hover:bg-gray-700 hover:border-gray-600;
}

.card .card-text {
  @apply text-lg font-sans italic text-turquoise-500;
}

.card .card-text-new{
  @apply text-lg font-sans text-gray-500;
}

.card .card-input{
  @apply text-lg font-sans text-gray-500 bg-gray-600;
}

.card-modal {
   @apply border border-gray-600 rounded-md bg-gray-700;
}

.card-modal .card-modal-input{
  @apply text-lg font-sans border-none rounded-md text-turquoise-500 italic placeholder-gray-400 bg-gray-500 focus:outline-none;
}

.icon-normal {
  @apply text-green-300 hover:text-green-600;
}

.icon-danger {
  @apply text-red-300 hover:text-red-600;
}

.header-text {
  @apply text-sm font-bold font-mono text-royal-blue-600 hover:text-royal-blue-400;
}

.sidebar {
  @apply border border-gray-800 bg-gray-900;
}

.sidebar .sidebar-text {
  @apply text-base font-sans text-gray-500 hover:text-turquoise-600;
}

.raw-text {
  @apply text-lg font-serif text-turquoise-600;
}

.input-raw {
  @apply text-lg font-sans placeholder-gray-500 placeholder-opacity-50 bg-transparent text-turquoise-400 focus:outline-none;
}