@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #f7f8f8;
  --background-start-color: #f7f8f8;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #362a48;
    --background-start-color: #362a48;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
